body {
  font-family: Arial;
  padding: 20px;
}

label {
  display: block;
  margin-top: 10px;
}

select {
  width: 220px;
  padding: 5px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
}

h3 {
  color: darkblue;
}
